<section class="container-fluid">

    <div class="row">
        <div class="col-md-9" id="background">
            <p>Escoge tu personaje: </p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">PERSONAJES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <th scope="row">1</th>
                        <td (click)="cambiarUrl1();">FARUZAN</td>
                    </tr>
                    <tr id="row">
                        <th scope="row">2</th>
                        <td (click)="cambiarUrl2(); " #2 >XIAO</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td (click)="cambiarUrl3()" #3 >CHONGYUN</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td (click)="cambiarUrl4()" #4 >BARBARA</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td (click)="cambiarUrl5()" #5 >NILOU</td>
                    </tr>
                   
                </tbody>
            </table>
            


        </div>
       
        <div class="col-md-3">
            <app-container1 [urlImage]="this.urlImage"></app-container1></div>

        

    </div>


</section>