<section class="container-fluid">

    <div class="row">
        <div class="col-md-9" id="background">
            <p>Escoge tu personaje: </p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">PERSONAJES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td >FARUZAN</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td   >XIAO</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>CHONGYUN</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>BARBARA</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>NILOU</td>
                    </tr>
                   
                </tbody>
            </table>


        </div>
       
        <div class="col-md-3">
            <app-container1></app-container1></div>

        

    </div>


</section>