nav {
    margin: 15px;
    width: 97%;
}
label {
    color: #3d3b25;
    margin-bottom: 5px;
    margin-left: 60px;
    -webkit-text-stroke: medium ;
}
input{
    margin-left: 60px;
    width: 90%;
    background-color:#efeeda;

}
button {
    color: white;
    background-color: #259692;
    font-weight: 700;
    width: 40%;
}